body {
    /*background: #6bc8c9;*/
	background: linear-gradient(#4949aa, #4998aa);
	font-size: 18px;
	position: relative;
	height: 100%;
	text-align: center;
	color; white;
	font-family: 'gochi Hand', cursive;
	}

	img {
		/*float: center;*/
		width:  150px;
		/*height: 100px;*/
		object-fit: cover;
	}